.dashboard {
    margin: 0 auto;
    width: 100%;

    .panels {
        position: relative;

        .nav {
            background: transparent;
            border: none;
            box-shadow: none;
            text-align: left;

            a {
                font-size: 26px;
                margin-right: 20px;
                color: rgb(42, 157, 244);
                text-decoration: none;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                    transform: scale(1.2);
                }

                &.active {
                    opacity: 0.9;
                    transform: scale(1.2);
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: -15px;
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid rgb(42, 157, 244);

                    }
                }
            }
        }

        .tab-content {
            position: relative;
        }

        .add-btn {
            position: absolute;
            right: 40px;
            top: -45px;
        }
    }

    table {
        border-collapse: collapse;

        thead, tr, th, td {
            border: none !important;
            padding: 8px 2px !important;
        }
    }

    .dash-header {
        position: absolute;
        right: 30px;
        top: 10px;
        z-index: 999;

        h6, button {
            display: inline-block;
            height: 32px;
            margin-right: 15px;
        }
    }

    button {
        border: none;
        background: transparent;

        &:hover {
            transform: scale(0.9);
            opacity: 0.8;
        }
    }
}

.fade {
    opacity: 1 !important;
}

.input-field.col {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;

    select {
        display: block;
    }

    label {
        transform: translateY(-14px) !important;
    }
}
