* {
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button a {
    width: "140px";
    borderRadius: "3px";
    letterSpacing: "1.5px";
}

div.landing {
    height: 75vh;
}
